node_modules/
.DS_Store

# IOS Generated
template/ios/openssl.framework
template/ios/build
template/ios/Pods/
template/vendor/bundle/
template/ios/HelloWorld.xcworkspace/xcuserdata/

# Android Generated
template/android/.gradle/
template/android/.idea/
template/android/local.properties
template/android/build/
template/android/app/build/
template/android/.kotlin/
template/android/app/.cxx/